<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>航班查询结果</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
    <link type="text/css" rel="stylesheet" href="/css/jqstyle.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <style type="text/css">
        .btn{
            width: 100px;
            height: 30px;
            background: blue;
            border: none;
            color: white;
            margin: 6px 10px;
        }
        .btnStyle1{
            border-radius: 40px;
        }
    </style>
</head>
<body>


<th:block th:include="common.html :: header"></th:block>


<div class="card">
    <h2 style="font-size: 18px">查询结果</h2>
    <div class="tab_box">
        <table class="layui-hide" id="flightList" lay-filter="test"></table>
    </div>
</div>


<th:block th:include="common.html :: footer"></th:block>
<script type="text/html" id="toolbtn">
    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary" lay-event="book">预定</button>
</script>


<script th:src="@{layui/layui.js}"></script>
<script th:inline="none">
    layui.use(['table'], function(){
        var table = layui.table;//使用数据表格

        table.render({
            elem: '#flightList'
            ,height: 500
            ,url: 'flight' //数据接口
            ,limit: 10
            ,limits: [10, 20, 30, 50]
            ,toolbar: 'default'
            ,page: true //开启分页
            ,cols: [[ //表头
                 {field: 'departurecity', title: '出发城市', width: 100}
                ,{field: 'arrivalcity', title: '到达城市', width: 100}
                ,{field: 'departuretime', title: '出发时间',sort: true, width: 120}
                ,{field: 'arrivaltime', title: '到达时间',sort: true, width: 130}
                ,{field: 'date', title: '日期', width: 120}
                ,{field: 'arrival_airport', title: '到达机场', width: 120}
                ,{field: 'departure_airport', title: '出发机场', width: 120}
                ,{fixed: '', title:'操作', toolbar: "#toolbtn", width:150}
            ]]
        });
    table.on('tool(test)', function (obj)  {
        var book_date = obj.data.date;
        var book_departurecity = obj.data.departurecity;
        var book_arrivalcity = obj.data.arrivalcity;
        var book_departuretime = obj.data.departuretime;
        var book_arrivaltime = obj.data.arrivaltime;
        var book_arrival_airport = obj.data.arrival_airport;
        var book_departure_airport = obj.data.departure_airport;
        if (obj.event === 'book') {
            window.location.href="/book?book_departurecity="+escape(book_departurecity)+"&book_arrivalcity="
            +escape(book_arrivalcity)+"&book_departuretime="+escape(book_departuretime)+"&book_arrivaltime="
            +escape(book_arrivaltime)+"&book_arrival_airport="+escape(book_arrival_airport)+"&book_departure_airport="
            +escape(book_departure_airport)+"&book_date="+escape(book_date);

          }

    });

    });


</script>

</body>
</html>