<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>index</title>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/jqstyle.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>
<div class="layui-carousel" id="test10">
    <div carousel-item="">
        <div><img src="images/plane1.jpg" style="width: 1300px;height:350px"></div>
        <div><img src="images/plane4.jpg" style="width: 1300px;height:350px"></div>
        <div><img src="images/plane3.jpg" style="width: 1300px;height:350px"></div>
        <div><img src="images/plane2.jpg" style="width: 1300px;height:350px"></div>
        <div><img src="images/plane.jpg" style="width: 1300px;height:350px"></div>


    </div>
</div>

<div class="tab_contents" style="margin-top: 20px;" >
    <!--导航条-->
    <ul class="tab_nav">
        <li class="tabNav_active"><h2>国内/国际机票</h2></li>
        <li><h2>在线选座</h2></li>
        <li><h2>退票改签</h2></li>
    </ul>
    <!--面板区-->
    <ul class="tab_box">
        <li class="tabBox_active">
            <form id="flightInquiry" action="/index" method="post">
            <div class="layui-form-item" style="font-size: 15px;color: #0C0C0C;font-family:'Microsoft YaHei'">
                <label class="layui-form-label" >出发地</label>
                    <input name="departurecity" th:text="${departurecity}" type="text" required="required" class="layui-input">
                <label class="layui-form-label">目的地</label>
                    <input name="arrivalcity" th:text="${arrivalcity}" type="text" required="required" class="layui-input">
                <label class="layui-form-label">日期</label>
                    <input name="date" th:text="${date}" type="text" required="required" class="layui-input">
            </div>

            <div>
                <button type="submit">查询</button>
            </div>
            </form>

            <div><img src="images/citypl2.jpg" style="width:400px;height:300px;border-radius: 50px 50px 50px 50px;margin-left: 200px"></div>
        </li>

        <li>
            <h2>在线选座</h2>
            <div>
                <button><a href="">Look at all ></a></button>
            </div>
        </li>
        <li>
            <h2>退票改签</h2>
            <div>
                <button><a href="">Look at all></a></button>
            </div>
        </li>
    </ul>
</div>
<br>
<div>

</div>

<div class="card">
     <h2 style="font-size: 18px">航班推荐</h2>
    <div class="tab_box">
        <table class="layui-hide" id="recommendlist"></table>
    </div>
</div>


<th:block th:include="common.html :: footer"></th:block>

<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //常规轮播
        carousel.render({
            elem: '#test1'
            ,arrow: 'always'
        });
        //改变下时间间隔、动画类型、高度
        carousel.render({
            elem: '#test2'
            ,interval: 1800
            ,anim: 'fade'
            ,height: '120px'
        });

        //设定各种参数
        var ins3 = carousel.render({
            elem: '#test3'
        });
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '1300px'
            ,height: '350px'
            ,interval: 5000
        });

        //事件
        carousel.on('change(test4)', function(res){
            console.log(res)
        });

        var $ = layui.$, active = {
            set: function(othis){
                var THIS = 'layui-bg-normal'
                    ,key = othis.data('key')
                    ,options = {};

                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };

        //监听开关
        form.on('switch(autoplay)', function(){
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function(){
            var value = this.value
                ,options = {};
            if(!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.demoTest .layui-btn').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });

    let tabNavItem = document.querySelectorAll(".tab_nav>li");
    let tabBoxItem = document.querySelectorAll(".tab_box>li");
    /*选中部分*/
    let tabNavActive = document.querySelector(".tabNav_active");
    let tabBoxActive = document.querySelector(".tabBox_active");

    /*
    思路:
    循环遍历导航条
    点击导航条切换类名控制显示与隐藏
    */

    tabNavItem.forEach(function (item, index) {
        item.onmouseenter = function () {
            tabNavActive.className = "";
            this.className = "tabNav_active";
            tabNavActive = this;

            tabBoxActive.className = "";
            tabBoxItem[index].className = "tabBox_active";
            tabBoxActive = tabBoxItem[index];
        }
    })

</script>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="none">
    layui.use(['table'], function(){
        var table = layui.table;//使用数据表格

        table.render({
            elem: '#recommendlist'
            ,height: 500
            ,url: '/index/re' //数据接口
            ,parseData:function (res) {
                console.log(res);
                return {
                    "code": 0,
                    "msg": "",
                    "count": 1000,
                    data: res,
                }
            }
            ,cols: [[ //表头
                {field: 'flight_id', title: '航班号', width:80, sort: true, fixed: 'left'}
                ,{field: 'departurecity', title: '出发城市', width: 100}
                ,{field: 'arrivalcity', title: '到达城市', width: 100}
                ,{field: 'departuretime', title: '出发时间', width: 120}
                ,{filed: 'arrivaltime', title: '到达时间', width: 120}
                ,{field: 'date', title: '日期', width: 120}
                ,{field: 'arrival_airport', title: '到达机场', width: 100}
                ,{field: 'departure_airport', title: '出发机场', width: 100}
            ]]
        });

    });

</script>
</body>
</html>