<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>index</title>
    <link rel="stylesheet" th:href="@{css/layui.css}">
    <script th:src="@{layui/layui.js}"></script>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/jqstyle.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="https://webresource.c-ctrip.com/ResH5FlightOnline/R1/3rdLib/ant_cus.css?v=2018103101">
    <link rel="stylesheet" href="https://bd-s.tripcdn.cn/modules/flight/online-orderdetail/static/css/main-1ad016d6.css">
    <style data-styled="active" data-styled-version="5.3.0"></style>
    <link type="text/css" rel="stylesheet" href="//webresource.c-ctrip.com/ResUnionOnline/R3/float/css/pc_flaot.css">
</head>
<style>
    .iwmrPd {
        padding: 24px;
    }
    .gQpdXV:first-child {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
    }
    .gQpdXV {
    border-top: 1px dashed rgb(221, 221, 221);
    padding-top: 24px;
    margin-top: 24px;
    }
    .lbqFAR {
    margin-bottom: 16px;
    position: relative;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    }
    .cPIGvg {
    white-space: nowrap;
    color: rgb(255, 255, 255);
}
    .hAQSL {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
    .kKNmtJ {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .fIGEpM {
    width: 100%;
    padding-right: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.fIGEpM::before {
    content: "";
    position: absolute;
    bottom: 10px;
    top: 14px;
    border-radius: 1px;
    border: 3px solid rgb(221, 228, 237);
    left: 78px;
    height: 40px;
}
.dlxVRf {
    position: relative;
    font-size: 14px;
    display: flex;
}
.kLZsdo {
    margin-right: 40px;
    margin-left: 12px;
    width: 48px;
    display: inline-block;
    text-align: right;
    color: rgb(51, 51, 51);
    position: relative;
    font-weight: 600;
}
.otherButton{
    width: 110px;
    height: 35px;
    border: 1px solid #2196f3;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    background: transparent;
    outline: none;
}
.otherButton2{
    position: absolute;
    margin-left: 300px;
    margin-top: 70px;
    width: 110px;
    height: 35px;
    border: 1px solid #2196f3;
    float: right;
    cursor: pointer;
    background: transparent;
    outline: none;
    }



    .dlxVRf::before {
    content: "";
    position: absolute;
    width: 8px;
    bottom: 0px;
    top: 8px;
    background-color: transparent;
    left: 76px;
    }
    .kLZsdo::before {
    content: "";
    position: absolute;
    border-radius: 1px;
    top: 6px;
    left: 63px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(221, 228, 237);
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    }
    .bgPFhY {
    margin-right: 8px;
    flex: 1 1 0%;
    color: rgb(51, 51, 51);
}
    .dlxVRf::after {
    content: ".";
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: block;
    clear: both;
    }
    .gErMrf {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px 0px;
    }
    .bDyGyM {
    width: 60px;
    text-align: right;
    }
    .ihbyqT {
    color: rgb(153, 153, 153);
    font-size: 12px;
    }
    .bGFtaP {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
    .hfjodw {
        position: relative;
        font-size: 14px;
        display: flex;
    }
    .hfjodw::before {
    content: "";
    position: absolute;
    width: 8px;
    bottom: 0px;
    top: 8px;
    background-color: rgb(255, 255, 255);
    left: 76px;
}
    .kLZsdo {
    margin-right: 40px;
    margin-left: 12px;
    width: 48px;
    display: inline-block;
    text-align: right;
    color: rgb(51, 51, 51);
    position: relative;
    font-weight: 600;
}
.kLZsdo::before {
    content: "";
    position: absolute;
    border-radius: 1px;
    top: 6px;
    left: 63px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(221, 228, 237);
    width: 10px;
    height: 10px;
    box-sizing: border-box;
}
.bgPFhY {
    margin-right: 8px;
    flex: 1 1 0%;
    color: rgb(51, 51, 51);
}
.hfjodw::after {
    content: ".";
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: block;
    clear: both;
}
.lbqFAR {
    margin-bottom: 16px;
    position: relative;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.hAQSL {
    display: inline-block;
    padding: 0px 8px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
.ibbBdg {
    width: 42%;
    font-size: 14px;
    display: inline-block;
    position: relative;
}
.kMsWyy {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
}

.gnrCxi span::after {
    content: "";
    position: absolute;
    width: 1px;
    top: 4px;
    bottom: 3px;
    right: 0px;
    background: rgb(221, 221, 221);
}


    .containernew{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .center{
        align-items: center;
        justify-content: center;
    }
    .cardnew {
        background-color: white;
        width: auto;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 5px;
        box-shadow: 11px 10px 3px 8px #7191b49c;
        border-radius: 10px;
        animation-name: shadow-show;
        animation-duration: 1.5s;
    }
    .title{
        font-size:10px;
        color: darksalmon;

    }
    hr{
        display: block;
        border: none;
        height: 3px;
        background-color: rgba(219, 211, 50, 0.74);
        margin: 0px;
    }
</style>
<body style="text-align: center;background-color: rgba(206, 215, 229, 0.33);">

<th:block th:include="common.html :: header"></th:block>

<!--判断用户是否已经登录-->
<span id="username"  style="display:none;"  th:text="${session.SPRING_SECURITY_CONTEXT?.authentication?.principal?.username}"></span>

<div class="layui-carousel" id="test10">
    <div carousel-item="">
        <div><img src="images/plane1.jpg" style="width: 100%;height:100%"></div>
        <div><img src="images/plane4.jpg" style="width: 100%;height:100%"></div>
        <div><img src="images/plane3.jpg" style="width: 100%;height:100%"></div>
        <div><img src="images/plane2.jpg" style="width: 100%;height:100%"></div>
        <div><img src="images/plane5.jpg" style="width: 100%;height:100%"></div>
    </div>
</div>
<div class="tab_contents" style="margin-top: 40px;" >
    <!--导航条-->
    <ul class="tab_nav">
        <li class="tabNav_active"><h2>国内机票</h2></li>
        <li><h2>在线选座</h2></li>
        <li><h2>退票改签</h2></li>
    </ul>
    <!--面板区-->
    <ul class="tab_box">
        <li class="tabBox_active">
            <form id="flightInquiry" action="/index" method="post" target="iframe">
                <div class="layui-form-item" style="font-size: 15px;color: #0C0C0C;font-family:'Microsoft YaHei'">
                    <label class="layui-form-label" >出发地</label>
                    <input id="dc" name="departurecity" th:text="${departurecity}" type="text" class="layui-input">
                    <label class="layui-form-label">目的地</label>
                    <input id="ac" name="arrivalcity" th:text="${arrivalcity}" type="text" class="layui-input">
                    <label class="layui-form-label">日期</label>
                    <input id="da" name="date" th:text="${date}" type="text" class="layui-input" placeholder="格式如：yyyy.mm.dd">
                </div>
                <div>
                    <button id="bt" type="submit" onclick="getid()">查询</button>
                </div>
            </form>
            <iframe id="iframe" name="iframe" style="display:none;"></iframe>
            <div><img src="images/citypl2.jpg" style="width:380px;height:280px;border-radius: 50px 50px 50px 50px;margin-left: 300px"></div>
        </li>
        <li>
            <form id="orderInquiry" target="iframe2" method="post">
                <div class="layui-form-item" style="font-size: 15px;color: #0C0C0C;font-family:'Microsoft YaHei'">
                    <label class="layui-form-label" >订单号</label>
                    <input id="orderNum" name="orderNum" th:text="${orderNum}" class="layui-input">
                    <label class="layui-form-label">身份证</label>
                    <input id="IDcard" name="IDcard" th:text="${IDcard}" class="layui-input">
                </div>
                <div>
                    <input type="button" onclick="os()" value="查询" class="otherButton">
                    <input type="hidden" name="order_id" id="order_id">
                    <input type="hidden" name="paymentStatus" id="paymentStatus">
                    <input type="hidden" name="flight_id" id="flight_id">
                    <input type="hidden" name="seat_id" id="seat_id">
                    <input type="hidden" name="type" id="type">
                    <input type="hidden" name="seat_type" id="seat_type">
                </div>
            </form>
            <div id="orderR" style="background:#eef3f7;margin-left:100px;display:none;">
                <div style="margin-left: 0px;margin-top: 10px;">
                    <label style="font-size:15px;color: cadetblue;font-weight: 900;">订单详情</label>
                </div>
                <div class="sc-knSFqH iwmrPd" style="margin-left: 1px;">
                    <div class="sc-gmIBos gQpdXV" style="margin-left: 2px;">
                        <div style="margin-left: 2px;">
                            <div class="sc-jLDROR lbqFAR">
                                <span class="sc-gLwjMs hAQSL" id="date"> </span>
                            </div>
                            <div class="sc-kQfVt0 kKNmtJ" style="margin-left: 2px;">
                                <div class="sc-fDUjSr fIGEpM" style="margin-left: 1px;">
                                    <div class="sc-fExJIe dlxVRf" style="margin-left: 1px;">
                                        <strong id="departuretime" class="sc-jdtaiD kLZsdo">

                                        </strong>
                                        <span class="sc-fBFNFI bgPFhY">
                                    <span id="departurecity"></span>
                                    <span id="departure_airport"></span>
                                </span>
                                    </div>
                                    <div class="sc-ektJcd gErMrf" style="margin-left: 1px;">
                                        <div class="sc-eDdKWq bDyGyM">
                                            <div class="sc-jaBegh ihbyqT">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="sc-jaJIhW bGFtaP"></div>
                                    </div>
                                    <div class="sc-fExJIe hfjodw" style="margin-left: 1px;">
                                        <strong class="sc-jdtaiD kLZsdo" id="arrivaltime">

                                        </strong>
                                        <span class="sc-fBFNFI bgPFhY">
                                <span id="arrivalcity"></span>
                                <span id="arrival_airport"></span>
                            </span>
                                    </div>
                                    <br>
                                    <div style="">
                                        <label style="color: black;font-weight: 600;">出行人</label>
                                        <span style="margin-left: 35px;color: rgb(51, 51, 51)" id="user_name"></span>
                                    </div>
                                </div>
                                <div class="sc-lMZDC ibbBdg">
                                    <img src="images/feiji.jpg" alt="" class="sc-cdlubJ kMsWyy" style="width: 25px;">
                                    <p style="margin-top: 0px;">
                                    <span>&#12288 &#12288 &#12288 &#12288 &#12288 &#12288 &#12288</span>
                                    <span>&#12288 &#12288 &#12288 &#12288 &#12288</span></p>
                                </div>
                                <button method="post" onclick="xz()" class="otherButton">前去选座</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>
        <li>
            <form id="orderInquiry2" target="iframe2" method="post">
                <div class="layui-form-item" style="font-size: 15px;color: #0C0C0C;font-family:'Microsoft YaHei'">
                    <label class="layui-form-label" >订单号</label>
                    <input id="orderNum_" name="orderNum_" th:text="${orderNum_}" class="layui-input">
                    <label class="layui-form-label">身份证</label>
                    <input id="IDcard_" name="IDcard_" th:text="${IDcard_}" class="layui-input">
                </div>
                <div>
                    <input type="button" onclick="os_()" value="查询" class="otherButton">
                    <input type="hidden" name="order_id_" id="order_id_">
                    <input type="hidden" name="paymentStatus_" id="paymentStatus_">
                    <input type="hidden" name="flight_id_" id="flight_id_">
                    <input type="hidden" name="realPrice" id="realPrice">
                    <input type="hidden" name="city1" id="city1">
                    <input type="hidden" name="city2" id="city2">
                    <input type="hidden" name="daten" id="daten">
                    <input type="hidden" name="seat_id" id="seat_id_">
                    <input type="hidden" name="seat_type" id="seat_type_">
                    <input type="hidden" name="change0_" id="change0_">


                </div>
            </form>
            <div id="orderR_" style="background:#eef3f7;margin-left:100px;display:none;">
                <div style="margin-left: 0px;margin-top: 10px;">
                    <label style="font-size:15px;color: cadetblue;font-weight: 900;">订单详情</label>
                </div>
                <div class="sc-knSFqH iwmrPd" style="margin-left: 1px;">
                    <div class="sc-gmIBos gQpdXV" style="margin-left: 2px;">
                        <div style="margin-left: 2px;">
                            <div class="sc-jLDROR lbqFAR">
                                <span class="sc-gLwjMs hAQSL" id="date_"> </span>
                            </div>
                            <div class="sc-kQfVt0 kKNmtJ" style="margin-left: 2px;">
                                <div class="sc-fDUjSr fIGEpM" style="margin-left: 1px;">
                                    <div class="sc-fExJIe dlxVRf" style="margin-left: 1px;">
                                        <strong id="departuretime_" class="sc-jdtaiD kLZsdo">

                                        </strong>
                                        <span class="sc-fBFNFI bgPFhY">
                                    <span id="departurecity_"></span>
                                    <span id="departure_airport_"></span>
                                </span>
                                    </div>
                                    <div class="sc-ektJcd gErMrf" style="margin-left: 1px;">
                                        <div class="sc-eDdKWq bDyGyM">
                                            <div class="sc-jaBegh ihbyqT">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="sc-jaJIhW bGFtaP"></div>
                                    </div>
                                    <div class="sc-fExJIe hfjodw" style="margin-left: 1px;">
                                        <strong class="sc-jdtaiD kLZsdo" id="arrivaltime_">

                                        </strong>
                                        <span class="sc-fBFNFI bgPFhY">
                                <span id="arrivalcity_"></span>
                                <span id="arrival_airport_"></span>
                            </span>
                                    </div>
                                    <br>
                                    <div style="">
                                        <label style="color: black;font-weight: 600;">出行人</label>
                                        <span style="margin-left: 35px;color: rgb(51, 51, 51)" id="user_name_"></span>
                                    </div>
                                </div>
                                <div class="sc-lMZDC ibbBdg">
                                    <img src="images/feiji.jpg" alt="" class="sc-cdlubJ kMsWyy" style="width: 25px;">
                                    <p style="margin-top: 0px;">
                                        <span>&#12288 &#12288 &#12288 &#12288 &#12288 &#12288 &#12288</span>
                                        <span>&#12288 &#12288 &#12288 &#12288 &#12288</span></p>
                                </div>
                                <button method="post" onclick="tp()" class="otherButton" style="margin-right: 20px;">我要退票</button>
                                <button method="post" onclick="gq()" class="otherButton">我要改签</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>
<br>
<div id="main" style="width:80%;">
<div id="left" style="width:50%;float:left;margin-top: 100px;margin-bottom: 100px" class="containernew center">
    <div class="cardnew">
        <h2>航班推荐</h2>
        <hr/>
        <div class="tab_box">
            <table class="layui-hide" id="recommendlist" lay-filter="test"></table>
        </div>
    </div>
</div>
<div id="right" style="width:50%;float:left;margin-top: 100px;margin-bottom: 100px"class="containernew center">
    <div class="cardnew">
        <h2>低价航班</h2>
        <hr/>
        <div class="tab_box">
            <table class="layui-hide" id="pricelist" lay-filter="test"></table>
        </div>
    </div>
</div>
</div>
<th:block th:include="common.html :: footer"></th:block>

<script>
    function getid(){
        document.getElementById("flightInquiry").submit();
        var a = document.getElementById("dc").value;
        var b = document.getElementById("ac").value;
        var c = document.getElementById("da").value;
        if(a.length==0||b.length==0||c.length==0){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg('请输入查询信息');
            });
        }
        else if(/^[\u4e00-\u9fa5]+$/.test(a)==false||/^[\u4e00-\u9fa5]+$/.test(b)==false){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg('请输入中文');
            });
        }
        else if(isvalidate(c)==false){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg('请输入正确格式的日期');
            });
        }
        else{
        window.location.href='http://localhost:8080/result?departurecity='+a+'&arrivalcity='+b+'&date='+c;
        }
    }
    function isvalidate(str)
    {
        var r = str.match(/^(\d{1,4})(.|\/)(\d{1,2})\2(\d{1,2})$/);
        if(r==null)return false;
        var d= new Date(r[1], r[3]-1, r[4]);
        if(r[3].length!=2||r[4].length!=2) return false;
        return (d.getFullYear()==r[1]&&(d.getMonth()+1)==r[3]&&d.getDate()==r[4]);
    }
3
</script>
<script type="text/html" id="toolbtn">
    <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-primary" lay-event="book">预定</button>
</script>
<script th:inline="none">
    layui.use(['table'], function(){
        var table = layui.table;//使用数据表格
        table.render({
            elem: '#recommendlist'
            ,url: '/index/re' //数据接口
            ,skin:'line'
            ,size:'lg'
            ,parseData:function (res) {
                console.log(res);
                return {
                    "code": 0,
                    "msg": "",
                    "count": 1000,
                    data: res,
                }
            }
            ,done: function (res, curr, count) {
                $('th').hide();
            }

            ,cols: [[ //表头5
                 {field: 'photo',templet:function (d) {return '<div><img src="images/logo.jpg"></div>'}}
                ,{title: '出发城市', width: 80,templet:function (d){
                        return  '<span style="color: #000000;font-size: 16px;font-weight: bold">'+d.departurecity+'</span></br><span style="color:#999999;font-size: 13px">'+d.departuretime;
                    }}
                ,{title: '到达城市', width: 80,templet:function (d){
                        return  '<span style="color: #000000;font-size: 16px;font-weight: bold">'+d.arrivalcity + '</span></br><span style="color:#999999;font-size: 13px">' + d.arrivaltime;
                    }}
                ,{field: 'price', title: '价格',width:120, templet:function (d) {return '<span style="color:#23a9de;font-size: 16px;font-weight: bold">'+"￥"+d.price;}}
                ,{fixed: '', title:'操作', toolbar: "#toolbtn", width:80}
            ]]

        });
        table.on('tool(test)', function (obj)  {
            var book_date = obj.data.date;
            var book_departurecity = obj.data.departurecity;
            var book_arrivalcity = obj.data.arrivalcity;
            var book_departuretime = obj.data.departuretime;
            var book_arrivaltime = obj.data.arrivaltime;
            var book_arrival_airport = obj.data.arrival_airport;
            var book_departure_airport = obj.data.departure_airport;
            var book_price=obj.data.price;
            var book_flight_id=obj.data.flight_id;
            if (obj.event === 'book') {
                var username=$('#username').html();
                if(username!=''){
                    window.location.href = "/book?book_departurecity=" + escape(book_departurecity) + "&book_arrivalcity="
                        + escape(book_arrivalcity) + "&book_departuretime=" + escape(book_departuretime) + "&book_arrivaltime="
                        + escape(book_arrivaltime) + "&book_arrival_airport=" + escape(book_arrival_airport) + "&book_departure_airport="
                        + escape(book_departure_airport) + "&book_date=" + escape(book_date) + "&book_price=" + escape(book_price)
                        + "&book_flight_id=" + escape(book_flight_id);
                }
                else {
                    layer.open({
                        type: 2,
                        area: ["500px", "600px"],
                        title:"请先登录",
                        closeBtn: 1,
                        content: "/loginModal?book_departurecity=" + escape(book_departurecity) + "&book_arrivalcity="
                            + escape(book_arrivalcity) + "&book_departuretime=" + escape(book_departuretime) + "&book_arrivaltime="
                            + escape(book_arrivaltime) + "&book_arrival_airport=" + escape(book_arrival_airport) + "&book_departure_airport="
                            + escape(book_departure_airport) + "&book_date=" + escape(book_date) + "&book_price=" + escape(book_price)
                            + "&book_flight_id=" + escape(book_flight_id),
                    });
                }
            }
        });

        table.render({
            elem: '#pricelist'
            ,url: '/index/pr' //数据接口
            ,skin:'line'
            ,size:'lg'
            ,parseData:function (res) {
                console.log(res);
                return {
                    "code": 0,
                    "msg": "",
                    "count": 1000,
                    data: res,
                }
            }
            ,done: function (res, curr, count) {
                $('th').hide();
            }

            ,cols: [[ //表头5
                 {field: 'photo',templet:function (d) {return '<div><img src="images/logo.jpg"></div>'}}
                ,{title: '出发城市', width: 80,templet:function (d){
                        return  '<span style="color: #000000;font-size: 16px;font-weight: bold">'+d.departurecity+'</span></br><span style="color:#999999;font-size: 13px">'+d.departuretime;
                    }}
                ,{title: '到达城市', width: 80,templet:function (d){
                        return  '<span style="color: #000000;font-size: 16px;font-weight: bold">'+d.arrivalcity + '</span></br><span style="color:#999999;font-size: 13px">' + d.arrivaltime;
                    }}
                ,{field: 'price', title: '价格',width:120, templet:function (d) {return '<span style="color:#23a9de;font-size: 16px;font-weight: bold">'+"￥"+d.price;}}
                ,{fixed: '', title:'操作', toolbar: "#toolbtn", width:80}
            ]]
        });
        });
</script>

<script>
    window.onload = function(){
        var coosStr = document.cookie;    //获取cookie中的数据
        var coos=coosStr.split("; ");     //多个值之间用; 分隔
        for(var i=0;i<coos.length;i++){   //获取select写入的id
            var coo=coos[i].split("=");
            console.log(coo);
            if("order_num"==coo[0]){
                document.getElementById('orderNum').value=coo[1];
            }
            if("passenger_id"==coo[0]){
                document.getElementById('IDcard').value=coo[1];
            }
        }
    }
        function os() {
            var order_num = $('#orderNum').val();
            var passenger_id = $('#IDcard').val();
            if (order_num.length === 0) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请输入订单号');
                });
            } else if (passenger_id.length === 0) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请输入身份证号');
                });
            } else {
                var username = $('#username').html();
                if (username == '') {
                    layer.open({
                        type: 2,
                        area: ["500px", "600px"],
                        title: "请先登录",
                        closeBtn: 1,
                        content: "loginModal",
                    });
                }
                else {
                    $.ajax({
                        type: 'post',
                        url: '/selectOdByNum',
                        data: {
                            'order_num': order_num,
                            'passenger_id': passenger_id
                        },
                        success: function (res) {
                            if (res === "error") {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg('未查询到相关订单');
                                });
                            }
                            var obj = JSON.parse(res);
                            if (obj.is_valid === "1") {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg('订单已失效');
                                });
                            } else {
                                $('#departuretime').html((obj.flight.departuretime).slice(0, -3));
                                $('#arrivaltime').html((obj.flight.arrivaltime).slice(0, -3));
                                $('#date').html(obj.flight.date);
                                $('#departurecity').html(obj.flight.departurecity);
                                $('#arrivalcity').html(obj.flight.arrivalcity);
                                $('#departure_airport').html(obj.flight.departure_airport);
                                $('#arrival_airport').html(obj.flight.arrival_airport);
                                $('#user_name').html(obj.user_name);
                                $("#order_id").val(obj.order_id);
                                $("#paymentStatus").val(obj.paymentStatus);
                                $("#flight_id").val(obj.flight.flight_id);
                                $("#type").val(obj.flight.type);
                                $("#seat_id").val(obj.seat_id);
                                $("#seat_type").val(obj.seat_type);
                                $("#orderR").show();
                            }
                        }
                    })
                }

            }
        }



        function os_(){
        var order_num = $('#orderNum_').val();
            var passenger_id = $('#IDcard_').val();
            if (order_num.length === 0) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请输入订单号');
                });
            } else if (passenger_id.length === 0) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请输入身份证号');
                });
            } else {
                var username = $('#username').html();
                if (username == '') {
                    layer.open({
                        type: 2,
                        area: ["500px", "600px"],
                        title: "请先登录",
                        closeBtn: 1,
                        content: "loginModal",
                    });
                    }
                else{
                    $.ajax({
                        type: 'post',
                        url: '/selectOdByNum',
                        data: {
                            'order_num': order_num,
                            'passenger_id': passenger_id
                        },
                        success: function (res) {
                            if (res === "error") {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg('未查询到相关订单');
                                });
                            }
                            var obj = JSON.parse(res);
                            if (obj.is_valid === "1") {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg('订单已失效');
                                });
                            }
                            else {
                                $('#departuretime_').html((obj.flight.departuretime).slice(0, -3));
                                $('#arrivaltime_').html((obj.flight.arrivaltime).slice(0, -3));
                                $('#date_').html(obj.flight.date);
                                $('#departurecity_').html(obj.flight.departurecity);
                                $('#arrivalcity_').html(obj.flight.arrivalcity);
                                $('#departure_airport_').html(obj.flight.departure_airport);
                                $('#arrival_airport_').html(obj.flight.arrival_airport);
                                $('#user_name_').html(obj.user_name);
                                $("#order_id_").val(obj.order_id);
                                $("#paymentStatus_").val(obj.paymentStatus);
                                $("#city1").val(obj.flight.departurecity);
                                $("#city2").val(obj.flight.arrivalcity);
                                $("#flight_id_").val(obj.flight.flight_id);
                                $("#realPrice").val(obj.realPrice);
                                $("#seat_id_").val(obj.seat_id);
                                $("#seat_type_").val(obj.seat_type);
                                $("#type_").val(obj.type);
                                $("#change0_").val(obj.change);
                                $("#orderR_").show();
                            }
                        }
                    })
                }
            }

        }

        function xz(){
                var order_id = document.getElementById("order_id").value;
                var paymentStatus = document.getElementById("paymentStatus").value;
                var flight_id=document.getElementById("flight_id").value;
                var seat_id=document.getElementById("seat_id").value;
                var type=document.getElementById("type").value;
                var seat_type=document.getElementById("seat_type").value;
            //var 类型
                if(paymentStatus === "0"){
                   layui.use('layer', function(){
                   var layer = layui.layer;
                   layer.msg('您未完成支付,不能进入选座服务');
                    });
                }
                else if(seat_id>0){
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.msg('您已完成选座');
                    });
                }
                else {
                    var obj;
                    var un;
                        $.ajax({
                            type: 'post',
                            url: '/choosing',
                            data: { // 提交数据
                                "flight_id":flight_id,
                            },
                            success(res) {
                                obj = JSON.parse(res);
                                un=obj.unset;
                                localStorage.removeItem('un')
                                localStorage.setItem('un',JSON.stringify(un));
                                window.location.href='http://localhost:8080/seatchooser?order_id='+order_id+"&flight_id="+flight_id+"&type="+type+"&seat_type="+seat_type;
                            }
                        })
                }
                }

        function gq(){
            var departurecity = $('#city1').val();
            var arrivalcity = $('#city2').val();
            var realPrice = $('#realPrice').val();
            var order_id = $('#order_id_').val();
            var order_num = $('#orderNum_').val();
            var flight_id=$('#flight_id_').val();
            var date = $('#daten').val();
            var change0 = $('#change0_').val();

            if(change0 != "0"){
            layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('同一订单不能改签多次哦');
                });
            }
            else{
            window.location.href='http://localhost:8080/change?departurecity='+departurecity+'&arrivalcity='+arrivalcity+'&realPrice='
            +realPrice+'&order_id='+order_id+'&order_num='+order_num+'&date='+date+'&flight_id='+flight_id;}
        }

        function tp(){
            var order_num = $('#orderNum_').val();
            var flight_id = $('#flight_id_').val();
            var paymentStatus = $('#paymentStatus').val();
            var order_id = $('#order_id_').val();
            var realPrice = $('#realPrice').val();
            var seat_id=$('#seat_id_').val();
            var seat_type=$('#seat_type_').val();
            var change0 = $('#change0_').val();
            alert(change0);
            if(paymentStatus === '0') {
                layui.use('layer', function(){
                   var layer = layui.layer;
                   layer.msg('该订单未完成支付，无需退票');
                    });
            }
            else{
                        $.ajax({
                            type: 'post',
                            url: '/ReturnTicket',
                            data: { // 提交数据
                                "order_num": order_num,
                                "realPrice": realPrice,
                                "flight_id" : flight_id,
                                "seat_id" : seat_id,
                                "order_id" : order_id,
                                "seat_type":seat_type,
                                "change0":change0,

                            },
                            success(res) {
                                if(res === 'success'){
                                    layui.use('layer', function(){
                                    layer.confirm('退票成功！', {title:'提示',btn: ['确定'],btn1:function(index,layero){
                                    layer.close(index);
                                    }});

                                    });
                                } else{

                                     layui.use('layer', function(){
                                    layer.confirm('系统繁忙，退票失败！', {title:'提示',btn: ['确定'],btn1:function(index,layero){
                                    layer.close(index);
                                    }});

                                    });

                                }

                            }
                        })

            }



        }
</script>
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //常规轮播
        carousel.render({
            elem: '#test1'
            ,arrow: 'always'
        });
        //改变下时间间隔、动画类型、高度
        carousel.render({
            elem: '#test2'
            ,interval: 1800
            ,anim: 'fade'
            ,height: '120px'
        });
        //设定各种参数
        var ins3 = carousel.render({
            elem: '#test3'
        });
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '100%'
            ,height: '300px'
            ,interval: 3000
        });
        //事件
        carousel.on('change(test4)', function(res){
            console.log(res)
        });
        var $ = layui.$, active = {
            set: function(othis){
                var THIS = 'layui-bg-normal'
                    ,key = othis.data('key')
                    ,options = {};
                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };
        //监听开关
        form.on('switch(autoplay)', function(){
            ins3.reload({
                autoplay: this.checked
            });
        });
        $('.demoSet').on('keyup', function(){
            var value = this.value
                ,options = {};
            if(!/^\d+$/.test(value)) return;
            options[this.name] = value;
            ins3.reload(options);
        });
        //其它示例
        $('.demoTest .layui-btn').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
    let tabNavItem = document.querySelectorAll(".tab_nav>li");
    let tabBoxItem = document.querySelectorAll(".tab_box>li");
    /*选中部分*/
    let tabNavActive = document.querySelector(".tabNav_active");
    let tabBoxActive = document.querySelector(".tabBox_active");
    /*
    思路:
    循环遍历导航条
    点击导航条切换类名控制显示与隐藏
    */
    tabNavItem.forEach(function (item, index) {
        item.onmouseenter = function () {
            tabNavActive.className = "";
            this.className = "tabNav_active";
            tabNavActive = this;
            tabBoxActive.className = "";
            tabBoxItem[index].className = "tabBox_active";
            tabBoxActive = tabBoxItem[index];
        }
    })
</script>

</body>

</html>