
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style2.css}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" id="login-box">
    <div class="form-container sign-up-container">
        <form action="/register" method="post">
            <h1>注册</h1>
            <div class="txtb">
                <input type="text" name="username" required="required">
                <span data-placeholder="用户名" ></span>
            </div>
            <div class="txtb">
                <input type="password" name="password" required="required">
                <span data-placeholder="密  码" ></span>
            </div>
            <div class="txtb">
                <input type="password" name="password2"  required="required">
                <span data-placeholder="确认密码" ></span>
            </div>
            <div class="alert alert-success" role="alert" id="error">
                <p style="color: red" th:text="${msg}" ></p>
            </div>
            <button type="submit">注册</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/login" method="post">
            <h1>登录</h1>
            <span class="help-block" style="color: red" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}"></span>
            <div class="txtb">
                <input name="username" required="required">
                <span data-placeholder="用户名"></span>
            </div>
            <div class="txtb">
                <input type="password" name="password" required="required">
                <span data-placeholder="密  码"></span>
            </div>
            <div class="check">
                <input name="remember-me" type="checkbox" >记住我</div>
            <a href="#">忘记密码？</a>
            <button type="submit" >登录</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>已有账号？</h1>
                <p>请使用您的账号进行登录</p>
                <button class="ghost" id="signIn" >登录</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>没有账号?</h1>
                <p>立即注册加入我们，和我们一起开始旅程吧</p>
                <button class="ghost" id="signUp">注册</button>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    $("#signUp").click(function(){
        $("#login-box").addClass('right-panel-active')
    })

    $("#signIn").click(function(){
        $("#login-box").removeClass('right-panel-active')
    })

    $(".txtb input").on("focus",function(){
        $(this).addClass("focus")
    })

    $(".txtb input").on("blur",function(){
        if($(this).val() == '')
            $(this).removeClass("focus")
    })

</script>
</html>