<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"href="/css/style2.css">
    <link type="text/css" rel="stylesheet" href="/css/jqstyle.css"/>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
            position: relative;
            overflow: hidden;
            width: 600px;
            max-width: 100%;
            min-height: 400px;
        }
    </style>
</head>
<body>
<div class="mainContainer">
    <!--<th:block th:include="common.html :: header"></th:block>-->
    <div class="container" id="login-box">
        <div class="form-container sign-in-container">
            <form action="/login" method="post" name="form">
                <h1>登录</h1>
                <div >
                    <p id="msg" style="color: red" th:text="${msg}"></p>
                </div>
                <span id="errorMsg" class="help-block" style="color: red" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}"></span>
                <div class="txtb">
                    <input name="username" required="required" placeholder="用户名">
                </div>
                <div class="txtb">
                    <input type="password" name="password" required="required" placeholder="密  码">
                </div>
                <label><input  name="remember-me" type="checkbox">记住我</label>
                <button type="submit" id="loginBtn">登录</button>
                <dd><label class="base_label">登录即同意
                    <a id="agreementUrl" target="_blank">《服务协议》</a>和<a id="policyUrl" target="_blank">《隐私政策》</a></label>
                </dd>

            </form>
        </div>
    </div>
</div>
</body>
<script>
    $('#loginBtn').on("click",function () {
        setTimeout(new function (){
            $.ajax({
                type: 'post',
                url: '/login',
                success: function (res) {
                    var errorMsg=$(res).find('#msg').text();
                    alert(errorMsg);
                    if(res.getElementById("errorMsg")){
                        var index=parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                }
            })
        },1000)
    });

</script>
</html>