<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/modal.css" rel="stylesheet">
</head>
<body>
<button id="modalBtn" class="'button">弹窗</button>
<div id="simpleModal" class="modal" style="display: none">
    <div class="modal-content">
        <div class="close">
            <img src="/images/close.ico" width="30px" height="30px">
        </div>
        <h1>Login</h1>
        <form action="/login" method="post">
            <input  type="text" name="username" placeholder="用户名" required="required" >
            <input  type="password" name="password" placeholder="密  码" required="required" >
            <label ><input  name="remember-me" type="checkbox">记住我</label>
            <button type="submit" >登录</button>
        </form>
    </div>
</div>
</body>
<script>
    var modal=document.getElementById("simpleModal");
    var modalBtn=document.getElementById("modalBtn");
    var closeBtn=document.getElementsByClassName("close")[0];
    modalBtn.addEventListener("click",openModal);
    closeBtn.addEventListener("click",closeModal);
    window.addEventListener("click",outsideClick);
    function  openModal(){
        modal.style.display="block";
    }

    function closeModal(){
        modal.style.display="none";
    }

    function outsideClick(e){
        if(e.target==modal){
            modal.style.display="none";
        }
    }
</script>
</html>