<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.FlightMapper">
<!--id对应接口中的方法名，parameterType和接口中对应方法的参数类型一致，
resultType和接口中对应方法的返回值类型一致-->


    <select id="findAll" resultType="com.example.demo2.bean.Flight">
    select * from flight_table
    </select>

    <select id="select"  resultType="com.example.demo2.bean.Flight">
        select * from flight_table
        where departurecity={#source} and arrivalcity={#destination} and date={#date}
    </select>


</mapper>