<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.FlightMapper">
  <resultMap id="FlightResultMap" type="com.example.demo2.bean.Flight">
    <id column="flight_id" jdbcType="INTEGER" property="flight_id" />
    <result column="airplane_id" jdbcType="INTEGER" property="airplane_id" />
    <result column="departurecity" jdbcType="VARCHAR" property="departurecity" />
    <result column="arrivalcity" jdbcType="VARCHAR" property="arrivalcity" />
    <result column="departuretime" jdbcType="VARCHAR" property="departuretime" />
    <result column="arrivaltime" jdbcType="VARCHAR" property="arrivaltime" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="arrival_airport" jdbcType="VARCHAR" property="arrival_airport" />
    <result column="departure_airport" jdbcType="VARCHAR" property="departure_airport" />
    <result column="passby_city" jdbcType="VARCHAR" property="passby_city" />
    <result column="price" jdbcType="INTEGER" property="price"/>
    <result column="seat_status" jdbcType="VARCHAR" property="seat_status"/>
    <result column="type" jdbcType="INTEGER" property="type"/>
  </resultMap>

  <sql id="Base_Column_List">
    flight_id, airplane_id, departurecity, arrivalcity, departuretime, arrivaltime, date,
    arrival_airport, departure_airport, passby_city ,price,seat_status,type
  </sql>

  <select id="findByRequired" resultMap="FlightResultMap" resultType="com.example.demo2.bean.Flight" >
    select * from flight_table where departurecity = #{departurecity} and arrivalcity = #{arrivalcity} and date =#{date}

  </select>

  <select id="findByid" resultType="String">
    select seat_status from flight_table where flight_id = #{flight_id}
  </select>

  <select id="countAllFlight" resultType="int">
    select count(flight_id) from flight_table
  </select>

  <select id="findByRandom" resultType="com.example.demo2.bean.Flight" resultMap="FlightResultMap">
    select * from flight_table order by rand() limit 5
  </select>

  <select id="findByPrice" resultType="com.example.demo2.bean.Flight" resultMap="FlightResultMap">
    select * from flight_table order by price limit 5
  </select>

  <update id="updateSeatStatus" parameterType="com.example.demo2.bean.Order">
    update flight_table
    set seat_status=#{seat_status}
    where flight_id=#{flight_id}
  </update>




</mapper>