<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.OrderMapper">
    <resultMap id="OrderResultMap" type="com.example.demo2.bean.Order">
        <id column="order_id"  property="order_id" />
        <result column="order_num" jdbcType="VARCHAR" property="order_num"/>
        <result column="is_valid" jdbcType="INTEGER" property="is_valid"/>
        <result column="is_finish" jdbcType="INTEGER" property="is_finish"/>
        <result column="user_name" jdbcType="VARCHAR" property="user_name" />
        <result column="passenger_id" jdbcType="VARCHAR" property="passenger_id"/>
<!--        <result column="user_id" javaType="INTEGER" property="user_id" />-->
        <result column="flight_id" jdbcType="INTEGER" property="flight_id" />
        <result column="seat_type" jdbcType="VARCHAR" property="seat_type" />
        <result column="orderTime" jdbcType="VARCHAR" property="orderTime" />
<!--        <result column="paymentStatus" jdbcType="INTEGER" property="orderTime" />-->
        <result column="paymentTime" jdbcType="VARCHAR" property="paymentTime" />
        <result column="seat_id" jdbcType="INTEGER" property="seat_id" />
        <result column="paymentStatus" property="paymentStatus"/>
        <result column="realPrice" jdbcType="VARCHAR" property="realPrice" />
        <result column="change0" jdbcType="VARCHAR" property="change0"/>
        <association property="flight" javaType="Flight">
            <id column="flight_id" property="flight_id" />
            <result column="departurecity" property="departurecity"/>
            <result column="arrivalcity" property="arrivalcity"/>
            <result column="date" property="date"/>
            <result column="departure_airport" property="departure_airport"/>
            <result column="arrival_airport" property="arrival_airport"/>
            <result column="departuretime" property="departuretime"/>
            <result column="arrivaltime" property="arrivaltime"/>
            <result column="seat_status" property="seat_status"/>
            <result column="type" property="type"/>
            <result column="bc_remaining" property="bc_remaining"/>
            <result column="ec_remaining" property="ec_remaining"/>

        </association>
    </resultMap>



    <select id="findByid" resultMap="OrderResultMap">
        select
        order_num,
        order_id,
        user_name,
        orderTime,
        paymentStatus,
        paymentTime,
        seat_id,
        is_valid,
        seat_type,
        departurecity,
        arrivalcity,
        date,
        order_table.flight_id,
        arrival_airport,
        departure_airport,
        departuretime,
        arrivaltime,
        seat_status,
        type,
        bc_remaining,
        ec_remaining,
        realPrice,
        change0,
        is_finish
        from order_table
        inner join flight_table  on  order_table.flight_id = flight_table.flight_id
        where user_id = #{user_id} and is_valid = 0
    </select>

    <select id="findUnpay" resultMap="OrderResultMap">
        select
        order_num,
        user_name,
        orderTime,
        seat_id,
        paymentStatus,
        seat_type,
        departurecity,
        arrivalcity,
        date,
        departuretime,
        arrivaltime,
        realPrice,
        change0
        from order_table
        inner join flight_table  on order_table.flight_id = flight_table.flight_id
        where user_id = #{user_id} and paymentStatus = 0 and is_valid = 0
    </select>

    <select id="findUngo" resultMap="OrderResultMap">
        select
        order_num,
        order_id,
        user_name,
        orderTime,
        paymentStatus,
        paymentTime,
        seat_id,
        is_valid,
        seat_type,
        departurecity,
        arrivalcity,
        date,
        order_table.flight_id,
        arrival_airport,
        departure_airport,
        departuretime,
        arrivaltime,
        seat_status,
        type,
        bc_remaining,
        ec_remaining,
        realPrice,
        change0,
        is_finish
        from order_table
        inner join flight_table  on order_table.flight_id = flight_table.flight_id
        where user_id = #{user_id} and is_finish = 0 and paymentStatus = 0 and is_valid = 0
    </select>

    <select id="countAllOrder" resultType="int">
        select count(order_id) from order_table where user_id = #{user_id} and is_valid = 0
    </select>

    <select id="countUnpayOrder" resultType="int">
        select count(order_id) from order_table where user_id = #{user_id} and is_valid = 0 and paymentStatus = 0
    </select>
    <select id="countUngo" resultType="int">
        select count(order_id) from order_table where user_id = #{user_id} and paymentStatus = 1 and is_finish = 0
    </select>

    <insert id="insertOrder" parameterType="com.example.demo2.bean.Order">
        insert into order_table (user_id, passenger_id, user_name, flight_id,
        orderTime, paymentStatus, realPrice, order_num)
        values (#{user_id,jdbcType=INTEGER}, #{passenger_id,jdbcType=VARCHAR}, #{user_name,jdbcType=VARCHAR},
        #{flight_id,jdbcType=INTEGER},#{orderTime,jdbcType=VARCHAR}, #{paymentStatus,jdbcType=INTEGER},
        #{realPrice,jdbcType=VARCHAR},#{order_num,jdbcType=VARCHAR})
    </insert>

    <select id="findByNum" resultMap="OrderResultMap">
        select * from order_table inner join flight_table on order_table.flight_id = flight_table.flight_id where order_num = #{order_num} and passenger_id = #{passenger_id}
    </select>

    <select id="findByoNum" resultMap="OrderResultMap">
        select * from order_table inner join flight_table on order_table.flight_id = flight_table.flight_id where order_num = #{order_num}
    </select>


    <select id="scheduleTable" resultType="String">
        select orderTime from order_table where paymentStatus = 0
    </select>

    <select id="goTime" resultMap="OrderResultMap">
        select date, departuretime,order_id from order_table inner join flight_table on order_table.flight_id = flight_table.flight_id where is_valid = 0
    </select>

    <update id="updateStatus" parameterType="com.example.demo2.bean.Order">
        update order_table
        set is_valid = 1
        where orderTime = #{orderTime} and paymentStatus = 0
    </update>

    <update id="updateGo" parameterType="com.example.demo2.bean.Order">
        update order_table
        set is_finish = 1
        where order_id=#{order_id} and is_valid = 0
    </update>

    <update id="updateSeat" parameterType="com.example.demo2.bean.Order">
        update order_table
        set seat_id=#{seat_id}
        where order_id=#{order_id}
    </update>

    <update id="updatePaymentTime" parameterType="com.example.demo2.bean.Order">
        update order_table
        set paymentTime=#{paymentTime} , paymentStatus = 1
        where order_num = #{order_num}
    </update>


    <select id="searchByNum" resultMap="OrderResultMap">
        select * from order_table inner join flight_table on order_table.flight_id = flight_table.flight_id where order_num = #{order_num}
    </select>

    <select id="searchById" resultMap="OrderResultMap">
        select * from order_table inner join flight_table on order_table.flight_id = flight_table.flight_id where order_id = #{order_id}
    </select>

    <select id="searchByID" resultMap="OrderResultMap">
        select * from order_table inner join flight_table on order_table.flight_id = flight_table.flight_id where order_id = #{order_id}
    </select>

    <update id="updatePaymentTIME" parameterType="com.example.demo2.bean.Order">
        update order_table
        set paymentTime=#{paymentTime} , paymentStatus = 1
        where order_id = #{order_id}
    </update>

    <update id="updateChange" parameterType="com.example.demo2.bean.Order">
        update order_table
        set change0=#{change0},order_num=#{order_num},seat_id=null,seat_type=2,realPrice=#{realPrice},flight_id=#{flight_id}
        where order_id=#{order_id}
    </update>

    <update id="updateAfterChange" parameterType="com.example.demo2.bean.Order">
        update order_table
        set flight_id=#{flight_id},seat_id=#{seat_id},change0=#{change0},order_num=#{order_num},realPrice=#{realPrice}
        where order_id=#{order_id}
    </update>

    <delete id="ReturnTicket" parameterType="java.lang.Integer">
        delete from order_table
        where order_id=#{order_id}

    </delete>

    <!--    <select id="findUnpayByid" resultType="com.example.demo2.bean.Order" resultMap="OrderResultMap" >-->
<!--        select * from order_table where user_id = #{user_id} and paymentStatus = 0-->
<!--    </select>-->



</mapper>