<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo2.bean.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
    <result column="image" jdbcType="VARCHAR" property="image"/>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, email
  </sql>

  <insert id="insert" parameterType="com.example.demo2.bean.User">
    insert into user (user_id, username, password,email)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
  </insert>

  <update id="updateInfo" parameterType="com.example.demo2.bean.User">
    update user set birthday = #{birthday}, sex = #{sex} where (user_id = #{userId});
  </update>

  <update id="updateImage" parameterType="com.example.demo2.bean.User">
    update user set image = #{image} where (user_id = #{userId});
  </update>

  <select id="login" parameterType="com.example.demo2.bean.User" resultMap="BaseResultMap">
    select * from user where username= #{username} and password = #{password};
  </select>

  <select id="selectUserByName" parameterType="com.example.demo2.bean.User">
    select * from user where username= #{username}
  </select>

  <delete id="delete" parameterType="com.example.demo2.bean.User">
    delete from user where username=#{username}
  </delete>

  <select id="loadUserByUsername" parameterType="com.example.demo2.bean.User" resultMap="BaseResultMap">
    select * from user where username = #{username}
  </select>

  <select id="selectUserByEmail" parameterType="com.example.demo2.bean.User" resultMap="BaseResultMap">
    select * from user where email = #{email}
  </select>

  <update id="resetPwd" parameterType="com.example.demo2.bean.User" >
    update user
    set password = #{password}
    where email = #{email}
  </update>

</mapper>